.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0 200px;
  background-color: #fff;
  border-bottom: 1px solid #dfdfdf;
}

.nav {
  display: flex;
  align-items: center;
  gap: 46px;
}

.navLink {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: #4b5563;
}

.navLinkActive{
  color: #3692ff;
}

.header .login_button {
  width: 128px;
  height: 48px;
  background-color: #3692ff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: #fff;
}

.login_button:hover {
  background-color: #1251aa;
  cursor: pointer;
}
